* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Main containers */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

.containerTop {
    /*border: solid 3px #ff0000;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.containerBottom {
    /*border: solid 3px #00ff00;*/
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer {
    /*border: solid 3px #0000ff;*/
    display: flex;
    justify-content: flex-end;
}

/* Side containers */

.sideButtons {
    /*border: solid 3px #0000ff;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}

.mediaBoxes {
    /*border: solid 3px #ff00ff;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.selectContainer {
    border: solid 3px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 40%;
}

#photoContainer {
    display: flex;
    gap: 10px; /* Adds space between images */
    flex-wrap: wrap; /* Allows images to wrap to the next line if they exceed the width */
    border: solid 3px #000000;
    width: 40%;
    height: 48vh;
    max-width: 40%;
    max-height: 48vh;
    border-radius: 20px;
    overflow-y: auto;
    align-items: flex-start;  /* Aligns items at the top, preventing stretch */
}

#photoContainer img {
    width: 230px;  /* Ensures images don't stretch beyond container's width */
    height: auto; /* Ensures images maintain their aspect ratio */
    max-height: 100%; /* Ensures the images don't stretch vertically */
    object-fit: contain; /* Keeps aspect ratio intact */
}


/* Elements */

.sjog {
    width: 12%;
}


.pfp {
    max-width: 10%;
}

button {
    border: none;
    width: 13vw;
    font-size: 1.4rem;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
}

.containerTop button {
    height: 11vh;
    background-color: rgb(0, 151, 233);  
    color: white;  
}

.sideButtons button {
    height: 13.5vh;
    background-color: rgb(0, 151, 233);  
    color: white;  
}



.selectContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 18%;
    background-color: rgb(255, 143, 143);  
    color: rgb(0, 0, 0);  
    border-radius: 20px;
    justify-content: center;
    
}

.selectContainer button:hover {
    background-color: rgb(195, 195, 195);  
}



.checkButton img {
    border-radius: 10px;
    border: none;
    width: 70px;
    height: 70px;
}


.uploadImg {
    width: 200px;
    height: 200px;
}

#webcamContainer {
    width: 200px;
    height: 200px;
    border: #000000 solid 3px;
    overflow: hidden;
    flex-shrink: 0;
}

#webcamContainer > * {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

#camIcon {
    width: 50px;
    height: 50px;
}

#takePhotoButton {
    text-align: center;
}
