:root {
  --background: #ffffff;
  --foreground: #171717;

  --blue-messages: #007AFF;
  --orange-media: #E97E25;
  --yellow-calendar: #FFCC00;
  --pink-plan: #DD284A;
  --green-actions: #286E34;
  --purple-notes: #7D56D6;

  --primary-blue: #483DFC;
  --primary-red: #F51A1A;
  --grey-outline: #bcbcbc;
  --grey-background: #8D8D8D;

  /* --side-spacing: 5vw; */
  --container-width: 90vw;
  --border-radius: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  font: inherit;
}

.top-bar {
  background-color: var(--primary-blue);
  /* padding: 1.5rem calc(1rem + var(--side-spacing)); */
  padding: 1.5rem calc(1rem + ((100vw - var(--container-width)) / 2));

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;

  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  /* letter-spacing: 0.1rem; */
}

.top-bar > div {
  letter-spacing: 0.1rem;
}

.top-bar .logout {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;

  display: flex;
  align-items: center;
  gap: 0.5rem
}

.container {
  /* margin: 6rem var(--side-spacing) 1rem; */
  width: var(--container-width);
  margin: 6rem auto 1rem;
}

.profile-area {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.profile-circle {
  position: relative;
}

.profile-circle > img {
  width: 6rem;
  height: 6rem;

  border-radius: 50%;
  border: 3px solid var(--grey-outline);
}

.profile-circle .icon {
  padding: 0.1rem;
  width: 2rem;
  height: 2rem;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: var(--grey-background);
  border-radius: 50%;
  border: 1px solid white;
}

.profile-area .icon img {
  width: 100%;
  height: 100%;
}

.profile-area-name {
  min-width: 0;
  align-self: center;

  font-weight: 500;
  font-size: min(2.5rem, 50px);
}

.profile-area-name p {
  overflow-wrap: break-word;
}

.profile-area-btns {
  padding: 0.3rem;

  display: flex;

  border: 2px solid var(--grey-outline);
  border-radius: var(--border-radius);
}

.profile-area-btns button {
  margin-inline: 0.2rem;

  background: none;
  outline: none;
  border: none;
}

.profile-area-btns .smaller img {
  /* width: 1.2rem; */
  /* height: 1.2rem; */
}

.navbar {
  margin: 2rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.navbar.single-col {
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.navbar.last3 {
  display: none;
}

.nav-btn {
  padding: 0.7rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  /* background-color: var(--green-actions); */
  border-radius: var(--border-radius);

  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-btn img {
  width: 1.5rem;
  height: 1.5rem;
}

.dashboard-widget {
  margin-bottom: 1rem;

  border: 3px solid var(--grey-outline);
  border-radius: var(--border-radius);

  font-size: 1.5rem;
  font-weight: 500;

  overflow: hidden;
}

.dashboard-widget > * {
  padding: 1rem;
}

.dashboard-widget .header {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: white;
  font-weight: 700;

  background-color: var(--blue-messages);
}

.dashboard-widget .header > img {
  width: 2.5rem;
  height: 2.5rem;
}

.dashboard-widget .widget-small {
  font-size: 1rem;
  font-weight: 700;
}

.dashboard-widget .widget-body {
  margin: 0.5rem 0;
}

.dashboard-widget .widget-notes {
  margin: 1rem 0;
}

.dashboard-widget .widget-image {
  max-width: 100%;
  padding: 1rem 0.5rem;
}

.dashboard-widget .widget-image > img {
  width: 100%;
  height: 100%;

  border-radius: var(--border-radius);
}


.dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;

  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-box {
  padding: 1.5rem 1rem;
  width: min(auto, 100%);
  position: relative;
  z-index: 2000;

  background: white;
  font-weight: 700;

  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.dialog-box .close-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}

.dialog-box .title {
  margin-right: 3rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.5rem;
}

.dialog-box .logout-icon {
  display: flex;
}

.invert > img {
  filter: invert(1);
}

.upload-picture {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;

  /* cursor: pointer; */
}

.upload-picture img {
  width: 10rem;
  height: 10rem;

  border-radius: 50%;
  border: 3px solid var(--grey-outline);
}

.upload-picture * {
  cursor: pointer;
}

.dialog-box .text-input {
  margin-left: 0.5rem;
  padding: 0.5rem;

  font-weight: 500;

}

.dialog-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.dialog-buttons button {
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: none;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  color: white;

  cursor: pointer;
}

.dialog-buttons .yes {
  background-color: #2BD637;
}

.dialog-buttons .no {
  background-color: #E44242;
}

.text-change-btns {
  position: fixed;
  top: 6rem;
  right: 0;
  padding: 0.7rem 1rem;

  background-color: #BCE1FB;
  border-radius: var(--border-radius) 0 0 var(--border-radius);

  user-select: none;
}

.text-change-btns > * {
  /* margin-inline: 0.5rem; */
}

.text-change-btns button {
  background: none;
  border: none;

  cursor: pointer;
}

.text-change-btns .smaller {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
}

.text-change-btns .bigger {
  width: 1.7rem;
  height: 1.7rem;
}

@media only screen and (min-width: 60rem) {
  :root {
    /* --side-spacing: min(20vw, 2rem); */
    --container-width: min(90vw, 100rem);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 2rem auto;
    gap: 0rem 3rem;

    margin-top: 7rem;
  }

  /* .top-strip {
    display: flex;
    grid-column: span 2;

  } */

  .top-bar {
    padding: 1.5rem calc(5rem + ((100vw - var(--container-width)) / 2));
  }

  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container > .navbar {
    /* width: 100%; */
    /* margin-left: 6rem; */

  }

  .navbar.last3 {
    /* display: block; */
    /* width: 100%; */
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    gap: 3rem;

  }

  .navbar.first3 > :nth-last-child(-n+3) {
    display: none;
  }

  .navbar.single-col {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .nav-btn {
    font-size: 1.5rem;
  }

  .nav-btn img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .profile-area {
    flex-direction: column;
    grid-row: span 2;

    text-align: center;
  }

  .profile-circle {
    margin-inline: auto;
  }

  .dashboard {
    grid-row: 2 / span 2;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
    align-items: start;
  }

  .dashboard > :nth-child(2) {
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  .dashboard > :last-child {
    grid-row: 1 / span 3;
    grid-column: 2;
  }

  .text-change-btns {
    top: 5.5rem;
  }

  .dialog-box {
    padding: 2rem;
  }

  .dialog-buttons button {
    padding: 1rem 1.5rem;
  }

}